<div class="layout"
     [class.sidebar-collapsed]="sidebarCollapsed()"
     *ngIf="!isLoginPage()">

  <button class="mobile-menu-btn" (click)="toggleMobileSidebar()">
    <mat-icon>{{ sidebarOpen() ? 'close' : 'menu' }}</mat-icon>
  </button>

  <div class="sidebar-overlay"
       *ngIf="sidebarOpen()"
       (click)="toggleMobileSidebar()">
  </div>

  <app-sidebar
    #sidebar
    (collapsedChange)="onSidebarCollapsedChange($event)"
    (openChange)="onSidebarOpenChange($event)"
  ></app-sidebar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
